In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Load the label CSV file
label_df = pd.read_csv('labels.csv')  # Update with the actual filename
len(label_df)

1543

In [3]:
label_df.columns = ['file','label']
label_df.head()

   file label
0    25   NOK
1    28    OK
2    31    OK
3    32   NOK
4    36    OK

In [4]:
folder_path = 'data'

# Initialize an empty list to store DataFrames
dfs = []

# Iterate over CSV files in the folder
for file_name in os.listdir('data'):
    #file_name = str(file_name_as_int).rjust(4,'0')
    # file_name is name of file without extension
    # Load CSV file
    
    df = pd.read_csv(folder_path + '\\' + file_name)

    file_name_as_int = int(file_name[:-4])
    # Extract the label from the label DataFrame based on the file name
    label = label_df.loc[label_df['file'] == file_name_as_int, 'label'].values[0]
    
    # Add a new column with the label
    df['label'] = [label]*len(df)

     # Add a new column with the file name
    file_name_wot_ext = str(file_name_as_int).rjust(4,'0')
    df['file'] = [file_name_wot_ext]*len(df)
    
    # Append the DataFrame to the list
    dfs.append(df)

# Merge all DataFrames into a single DataFrame
merged_df = pd.concat(dfs, ignore_index=True)

del merged_df['Unnamed: 0']

merged_df.head(5)

,time,sh_id,ori_r,ori_p,ori_y,gyr_x,gyr_y,gyr_z,acc_x,acc_y,acc_z,label,file
0,2024-01-01 00:00:00.000000,rpi02,269.545681,356.749989,125.587303,-0.001464,-0.002130,0.001607,0.033458,-0.996745,-0.014221,NOK,0025
1,2024-01-01 00:00:00.021664,rpi04,0.882781,356.174715,151.752965,-0.003406,0.000361,0.005360,0.079280,0.030349,0.973569,NOK,0025
2,2024-01-01 00:00:00.032167,rpi01,353.893131,355.246462,133.680558,-0.004923,0.002182,0.000213,0.084856,-0.099385,0.981367,NOK,0025
3,2024-01-01 00:00:00.051721,rpi03,170.776873,88.503023,355.694066,0.000246,-0.001458,-0.001224,-0.995241,-0.009167,-0.029647,NOK,0025
4,2024-01-01 00:00:00.072409,rpi04,0.840144,356.154963,151.629353,0.017057,-0.001167,-0.012965,0.076128,-0.008925,0.979418,NOK,0025

In [17]:
# Convert time column to datetime format
merged_df['time'] = pd.to_datetime(merged_df['time'])

# Sort the DataFrame in ascending order of time
sorted_merged_df = merged_df.sort_values(by='time', ascending=True)

# Print the sorted DataFrame
sorted_merged_df.head(5)

,time,sh_id,ori_r,ori_p,ori_y,gyr_x,gyr_y,gyr_z,acc_x,acc_y,acc_z,label,file
0,2024-01-01,rpi02,269.545681,356.749989,125.587303,-0.001464,-0.002130,0.001607,0.033458,-0.996745,-0.014221,NOK,0025
511184,2024-01-01,rpi02,269.582816,357.007206,130.395674,0.001154,0.001392,-0.000970,0.034427,-0.994333,-0.013016,NOK,1529
2776188,2024-01-01,rpi04,0.247608,355.927488,152.711856,-0.003539,0.006846,-0.004086,0.065218,0.039090,0.986241,OK,8062
513433,2024-01-01,rpi02,269.333733,357.267854,128.636791,-0.000978,-0.002117,0.000825,0.036852,-0.996263,-0.014944,OK,1539
2773952,2024-01-01,rpi02,268.633106,348.447405,122.999932,0.001148,0.001069,-0.001587,0.037822,-0.980342,0.009992,OK,8061

In [18]:
sorted_merged_df.tail(5)

,time,sh_id,ori_r,ori_p,ori_y,gyr_x,gyr_y,gyr_z,acc_x,acc_y,acc_z,label,file
2566127,2024-01-01 00:00:30.975513,rpi04,1.289037,356.094631,151.262476,0.002792,0.000681,-0.001932,0.073461,0.062155,0.976250,OK,7499
693196,2024-01-01 00:00:30.976085,rpi04,1.037552,356.077410,150.991536,-0.006059,0.003006,-0.001800,0.070309,0.028164,0.990628,OK,2113
566221,2024-01-01 00:00:30.979251,rpi01,357.863261,356.829084,138.746701,-0.004365,0.001731,0.005392,0.073219,-0.056447,0.973325,OK,1673
2991807,2024-01-01 00:00:30.980828,rpi01,353.544461,356.833396,132.360569,0.001256,0.001235,-0.002564,0.080492,-0.103968,0.980880,OK,8767
3252541,2024-01-01 00:00:30.980883,rpi01,355.510213,359.905498,129.034868,0.000196,-0.008216,0.000330,0.064248,-0.156797,1.697348,OK,9624

In [24]:
idf1 = sorted_merged_df.loc[sorted_merged_df['sh_id'] == 'rpi01',:]
idf2 = sorted_merged_df.loc[sorted_merged_df['sh_id'] == 'rpi02',:]
idf3 = sorted_merged_df.loc[sorted_merged_df['sh_id'] == 'rpi03',:]
idf4 = sorted_merged_df.loc[sorted_merged_df['sh_id'] == 'rpi04',:]

In [28]:
idf1.tail(5)

,time,sh_id,ori_r,ori_p,ori_y,gyr_x,gyr_y,gyr_z,acc_x,acc_y,acc_z,label,file
1756732,2024-01-01 00:00:30.967637,rpi01,351.974436,354.976926,132.053853,-0.015242,0.030644,0.011541,0.445858,0.607710,0.292193,OK,5169
2566126,2024-01-01 00:00:30.970803,rpi01,352.286269,356.028534,133.318722,0.002443,0.001512,-0.002334,0.015517,-0.060065,1.176081,OK,7499
566221,2024-01-01 00:00:30.979251,rpi01,357.863261,356.829084,138.746701,-0.004365,0.001731,0.005392,0.073219,-0.056447,0.973325,OK,1673
2991807,2024-01-01 00:00:30.980828,rpi01,353.544461,356.833396,132.360569,0.001256,0.001235,-0.002564,0.080492,-0.103968,0.980880,OK,8767
3252541,2024-01-01 00:00:30.980883,rpi01,355.510213,359.905498,129.034868,0.000196,-0.008216,0.000330,0.064248,-0.156797,1.697348,OK,9624

In [29]:
len(idf1)

855261

In [5]:
idf1_r = merged_df.loc[merged_df['sh_id'] == 'rpi01',:]
idf2_r = merged_df.loc[merged_df['sh_id'] == 'rpi02',:]
idf3_r = merged_df.loc[merged_df['sh_id'] == 'rpi03',:]
idf4_r = merged_df.loc[merged_df['sh_id'] == 'rpi04',:]

In [19]:
idf1_part = idf1_r.iloc[:2001,:]

In [ ]:
feature = 'gyr_x'
    for file_df in idf1_r.groupby('file'):
        file_df = file_df[1]
        file_label = file_df.iloc[0,-2]
        color = 'green' if file_label == 'OK' else 'red'
        plt.plot(file_df['time'], file_df[feature], color=color, label=file_label, alpha = 0.5)
        plt.tick_params(axis='both', which='both', bottom=False, top=False, left=False, right=False)
    
# Adjust layout
plt.tight_layout()
plt.show()

In [ ]:
features = merged_df.columns[2:-2]
# Create subplots with a 3x3 grid
fig, axes = plt.subplots(3, 3, figsize=(15, 10))

# Iterate through each feature and plot on separate subplot
  # Exclude the 'time' column
for i, feature in enumerate(features):
    ax = axes[i // 3, i % 3]  # Calculate subplot indices based on feature index
    for file_df in idf1_r.groupby('file'):
        file_df = file_df[1]
        file_label = file_df.iloc[0,-2]
        color = 'green' if file_label == 'OK' else 'red'
        ax.plot(file_df['time'], file_df[feature], color=color, label=file_label)
    ax.set_title(feature)
    ax.set_xlabel('Time')
    ax.set_ylabel('Feature Value')
    #ax.legend()
    ax.tick_params(axis='both', which='both', bottom=False, top=False, left=False, right=False)

# Adjust layout
plt.tight_layout()
plt.show()